.header {
    max-width: 1140px;
    font-family: "Inter", Helvetica, sans-serif;
    color:black;
    margin: 0 auto;
    padding: 18px 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_main {
    background-color:  #F3C1F8;
}

.header__button-container {
    display: flex;
    margin: 0px 0 5px;
    column-gap: 30px;
    align-items: center;
}

.header__button {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    text-decoration: none;
    color: black;
}

.header__button_signup {
    height: 16px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.header__button_signup:hover {
    opacity: .7;
}

.header__button_signin {
    padding: 8px 21px;
    border-radius: 3px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.header__button_signin:hover {
    opacity: .7;
}

.header__burger-menu {
    display: none;
}

.header__popup {
    width:100%;
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 800px) {
    .header {
        padding: 17px 30px;
    }

    .header__button-container {
        margin: 0px 0 2px;
    }

    .header__popup {
        visibility: hidden;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
        opacity: 0;
    }

    .header__popup_opened {
        visibility: visible;
        opacity: 1;
    }

    .header__burger-menu {
        display: block;
        background-image: url(../../images/burger.svg);
        height: 44px;
        width: 44px;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .header__burger-menu:hover {
        opacity: .7;
    }
}

@media screen and (max-width: 400px) {
    .header {
        padding: 17px 14px;
    }

    .header_main {
        padding: 18px 14px;
    }

    .header__burger-menu {
        width: 41px;
        height: 43px;

    }
    .header__button-container {
        column-gap: 14px;
    }

    .header__button {
        font-size: 10px;
    }

    .header__button_signin {
        padding: 5px 12px;
    }
}